
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: #001529;
  color: #fff;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}
